week_2/airflow/logs
week_2/prefect/flows/04_homework/*.parquet
week_3/2022/airflow/logs
week_3/2022/extras/*.parquet
week_3/2023/data
week_4/2022/target/
week_4/2022/dbt_packages/
week_4/2022/logs/
week_5/code/data
week_5/code/fhvhv
week_5/code/.ipynb_checkpoints
week_5/homework/data*
week_5/homework/.ipynb_checkpoints